* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    font-family: "Bitter";
    width: 1440px;

}
body{
   max-width: 500px; 
   margin: 0 auto;
}
@font-face {
    font-family: "Bitter";
    src: url(fonts/Bitter-Regular.ttf);
}
@font-face {
    font-family: "Open";
    src: url(fonts/OpenSans-Regular.ttf);
}
.frame{
    width: 648px;
    height: 60px;
}
.logo{
    width: 100px;
    height: 56px;
    background: url(img/logo.png);
    background-repeat: no-repeat;
    justify-content: left;
    padding-right: 452px;
}
.logofacebook{
    background: url(img/facebooklogo.png);
    fill: #FFF;
    filter: drop-shadow(1px 1px 3px #C1CDDB);
    display: block;
    justify-content: center;
    width: 30px;
    height: 40px;
    background-repeat: no-repeat;
    margin-right: 106px;
}
a.colorcontainet{
    margin-left: 20px;
    padding-right: 40px;
    justify-content: flex-end;
    color: #5231FF; 
    font-family: Bitter;
    font-size: 14px;
    font-style:normal;
    font: weight 400px;;
    line-height: 20px; /* 142.857% */
}
a.nocolorcontainer{
    padding-right: 40px;
    justify-content: flex-end;
    color: #222;
    font-family: Bitter;
    font-size: 14px;
    font-style:normal;
    font: weight 400px;;
    line-height: 20px; /* 142.857% */
}
.container{
    width: 648px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
}
.navigation{
    display: flex;
    width: 1200px;
    height: 60px;
    justify-content: center;
    align-items: flex-start;
    margin-left: 120px;
    margin-right: 120px;
    padding-top: 20px;

}
.centerlable .bigep{
    color: #3B3B3B;
    text-align: center;
    font-family: Bitter;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 128.205% */
    padding-top: 10px;
}
.centerlable .smalep{
    color: #7C8499;
    text-align: center;
    font-family: Bitter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    margin-top: 90px;
    margin-right: 641px;
}
.homepage1{
    width: 610px;
    height: 2044px;
    flex-shrink: 0;
}
.homepage1img{
    background: url(img/Homepage1.png);
    width: 531px;
    height: 600px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    margin-right: 760px;
    margin-top: 21px;
    margin-left: 151px;
    border: 1px solid rgba(63, 116, 255, 0.15);
}
.borderic1{
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5231FF;
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 311.111% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 355px;
    margin-top: 50px;
}
.borderic2{
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5231FF;
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 311.111% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-right: 355px;
    margin-top: 53px;
    margin-bottom: 21px;
    margin-left: 215px;
}
.homepage2{
    width: 610px;
    height: 1714px;
    flex-shrink: 0;
}
.homepage2img{
    background: url(img/Homepage2.png);
    width: 531px;
    height: 270px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    margin-left: 11px;
    margin-right: 150px;
    border: 1px solid rgba(63, 116, 255, 0.15);
}
.container-main-homepage{
    display: inline-flex;
    flex-direction: row;
}
.chu{
    background: url(img/chuhka.png);
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-repeat: no-repeat;
    margin-left: 80px;
    margin-top: 114px;
}

.borderic4{
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 311.111% */
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    flex-shrink: 0; border-radius: 5px;
    background: #5231FF;
    margin-left: 355px;
    margin-top: 38px;
    margin-bottom: 17px;
}
.homepage4img{
    background: url(img/Homepage4.png);
    width: 531px;
    height: 600px;
    flex-shrink: 0;
    border: 1px solid rgba(63, 116, 255, 0.15);
    margin-left: 151px;
    margin-bottom: 40px;
}
.borderic3{
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5231FF;
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 311.111% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 21px;
    margin-top: 38px;
    margin-left: 215px;
}
.homepage3img{
    background: url(img/Homepage3.png);
    width: 531px;
    height: 600px;
    flex-shrink: 0;
    border: 1px solid rgba(63, 116, 255, 0.15);
    margin-left: 11px;
}
.borderic6{
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 311.111% */
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    flex-shrink: 0; border-radius: 5px;
    background: #5231FF;
    margin-left: 355px;
    margin-bottom: 21px;
}   
.homepage6img{
    background: url(img/Homepage6.png);
    width: 531px;
    height: 600px;
    flex-shrink: 0;
    margin-left: 151px;
    border: 1px solid rgba(63, 116, 255, 0.15);
}
.borderic5{
    width: 120px;
    height: 28px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: Bitter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 311.111% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-radius: 5px;
    background: #5231FF;
    margin-top: 40px;
    margin-left: 215px;
}
.homepage5img{
    background: url(img/Homepage5.png);
    width: 531px;
    height: 600px;
    flex-shrink: 0;
    margin-left: 11px;
    border: 1px solid rgba(63, 116, 255, 0.15);
}
.center-line{
    width: 1200px;
    height: 1px;
    background: #E4ECF6;
    margin-left: 120px;
    margin-top: 130px;
    margin-bottom: 80px;
}
.centerlablemid .smalep{
    color: #7C8499;
    text-align: center;
    font-family: Bitter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.centerlablemid .bigep{
    color: #3B3B3B;
    text-align: center;
    font-family: Bitter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 125% */
    margin-top: 10px;
}

.containet-main-facts{
    margin-left: 120px;
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}
.portfolio{
    padding-top: 20px;
    width: 300px;
    height: 84px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.about{
    padding-top: 25px;
    width: 300px;
    height: 84px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blog{
    padding-top: 35px;
    width: 300px;
    height: 84px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.page{
    padding-top: 70px;
    width: 300px;
    height: 84px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.bluemetrik{
    color: #5231FF;
    text-align: center;
    font-family: Bitter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 80% */
}
.main-text-facts{
    color: #7C8499;
    text-align: center;
    font-family: Bitter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    padding-top: 16px;
    line-height: 24px; /* 171.429% */
}
.center-line2{
    width: 1280px;
    height: 1px;
    background: #E4ECF6;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 80px;
}
.containet-main-adout{
    display: flex;
    height: 260px;
    justify-content: center;
    align-items: flex-start;

}
.getstarted{
    width: 151px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #5231FF;
    color: #FFF;
    font-family: Bitter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 38px;
}
.leftblock{
    width: 439.484px;
    height: 230px;
    margin-left: 120px;
}
.littletext{
    color: #7C8499;
    font-family: Bitter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-bottom: 10px;
}
.bigtext{
    color: #3B3B3B;
    font-family: Bitter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px; /* 141.667% */
    padding-left:10px;
    padding-bottom: 22px;
}
.opentext{
    color: #7C8499;
    font-family: Open;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 166.667% */

}
.blocks p{
    color: #1F2532;
    font-family: Bitter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 200% */
    width: 219px;
    height: 55px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #EAF0FD;
    background: #FFF;
    text-align:center;
}
.blocks{
    display: flex;
    width: 691.656px;
    height: 260px;
    padding-right: 0.016px;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 260px;
    align-content: space-between;
    padding: 0px 10.016px 0px 10px;
    justify-content: center;
    align-items: flex-start;
    gap: 8px; 
}
.rightblock{
    margin-top: 9px;
    margin-left: 50px;
}
.marginleftblock{
    display: flex;
    flex-direction: row;
}
.test{
    margin-right: 60px;
}
.marginleftblock2{
    display: flex;
    flex-direction: row;
    margin-left: 6px;
    gap: 8px; 
}
.pre-footer{
    width: 1200px;
    height: 486px;
    flex-shrink: 0;
}
.img-pre-footer{
    margin-left: 120px;
    margin-top: 90px;
    border-radius: 25px;
    width: 1200px;
    height: 486px;
    flex-shrink: 0;
    background: url(img/pre-footer.png);
}

.hightext{
    color: #7C8499;
    font-family: Bitter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    padding-left: 558px;
    padding-top: 98px;
}
.biggtext{
    color: #FFF;
    font-family: Bitter;
    font-size: 39px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 128.205% */
    padding-top: 10px;
    padding-left: 401px;
    padding-bottom: 25px;
}
.litttletext{
    color: #FFF;
    font-family: Open ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    padding-left: 351px;
}
.litttletext1{
    color: #FFF;
    font-family: Open ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
    padding-left: 448px;
}
.enteremail{
    width: 432px;
    height: 46px;
    flex-shrink: 0; 
    border-radius: 50px 0px 0px 50px;
    border: 1px solid #E4ECF6;
    background: #FFF;
    margin-left: 339px;
    margin-top: 108px;
    padding-top: -5px;
}

.buttonsubscribe{
    width: 140px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #5231FF;
    margin-left: 380px;
    margin-top: -32px;
}
.buttonsubscribe p{
    padding-top: 15px;
    padding-left: 32px;
    color: #FFF;
    font-family: Bitter;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 153.846% */
}
.emailtext{
    margin-left: 29px;
    margin-top: 10px;
    color: #7C8499;
    font-family: Bitter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
}
.text-pre-footer-img-footer{
    color: #7C8499;
    font-family: Bitter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 153.846% */
    padding-left:445px;
    padding-top: 17px;
}

.containet-footer{
    display: flex;
    width: 1280px;
    height: 416px;
    flex-wrap: nowrap;
    align-items: center;
    padding-left: 120px;
    flex-shrink: 0;

}
.blockaboutelvin{
    display: flex;
    flex-direction:column;
    width: 610px; 
    height: 250px;
    display: flex;
    align-items: flex-start;
    margin-bottom: 80px;
    margin-top: 100px;
    
}
.blockwhatwedo{
    display: flex;
    flex-direction:column;
    width: 285px;
    height: 192px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    padding-right: 5px;
    padding-bottom: 40px;
    margin-bottom: 3px;
}
.blockuseful{
    flex-direction:column;
    display: flex;
    width: 285px;
    height: 195px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-start;
    padding-left: 19px;
    padding-bottom: 40px;
    margin-bottom: 0px;
}
.big-footer-text{
    color: #000;
    font-family: Bitter;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 129.412% */
    padding-bottom: 30px;
}
.litte-footer-text{
    color: #7C8499;
    font-family: Open;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 178.571% */
}
.facebook-footer-img{
    background: url(img/facebooklogo.png);
    width: 30px;
    height: 30px;
    fill: #FFF;
    filter: drop-shadow(1px 1px 3px #C1CDDB);
    margin-top: 23px;
    background-repeat: no-repeat;
}
.blockuseful .litte-footer-text{
    padding-bottom: 13px;
}
.blockwhatwedo .litte-footer-text{
    padding-bottom: 13px;
}
.request{
    width: 116px;
    height: 22px;
    flex-shrink: 0;
    border-radius: 5px;
    background: #5231FF;

}
.request p{
    color: #FFF;
    padding-left: 10px;
    font-family: Bitter;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 133.333% */
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 5px;
}
.center-line3{
    margin-left: 120px;
    align-items: center;
    flex-direction: column;
    display: flex;
    width: 1200px;
    height: 1px;
    flex-shrink: 0;
    background: #D4DEEB;
    margin-top: -68px;
}
.footer-about-create{
    display: flex;
    margin-top: 20px;
}
.created{
    display: flex;
    flex-direction: row;
    height: 67px;
    width: 590px;
    align-items: flex-start;
    flex-shrink: 0;
    margin-left: 120px;
}
.evelin{
    display: flex;
    width: 600px;
    height: 67px;
    justify-content: flex-end;
    align-items: flex-start;
    flex-shrink: 0;
    color: #212127;
    font-family: Bitter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 200% */
    padding-left: 310px;
    margin-left: 10px;
}
.gray-text-about{
    color: #7C8499;
    font-family: Open;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 200% */
}
.created{
    color: #212127;
    font-family: Bitter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 200% */
}